@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'buttons.css';
@import 'form.css';


.nav-item {
    @apply transition duration-100 hover:bg-gray-700 hover:text-white rounded p-2  my-1
}

.router-link-active .nav-item {
    @apply bg-gray-700 text-white
}


.table {
    @apply min-w-full text-start text-sm font-light  dark:text-white relative;
}

.table.loading::after {
    content: 'Loading...';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.table thead {
    @apply border-b border-neutral-200 bg-gray-700 font-medium text-white dark:border-white/10
}

.table > thead th {
    @apply px-4 py-2
}

.table tr:not(:first-child) {
    @apply border-b border-neutral-200 dark:border-white/10 hover:bg-neutral-200 bg-white
}

.table td:first-child, .table th:first-child {
    @apply text-start
}

.table td {
    @apply whitespace-nowrap  px-4 py-2 text-center
}

.table td .action {
    @apply text-xs border-2 border-gray-200 hover:border-black mr-2 px-2 py-1 rounded-md transition duration-200 cursor-pointer
}
.table td .action.delete {
    @apply  border-red-200 hover:border-red-400 text-red-400 fill-red-400
}

.form-input:focus, .form-textarea:focus, .form-select:focus, .form-multiselect:focus {
    --tw-ring-color: #7e7e7e;
    border-color: #999;
}
